[submodule "puppet-git"]
	path = puppet-git
	url = https://github.com/theforeman/puppet-git.git
[submodule "puppet-passenger"]
	path = puppet-passenger
	url = https://github.com/theforeman/puppet-passenger.git
